<div class="row Photographic-types">
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
  <img src="/image/photography/birthday/birthday.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Birthday celebration</h5>
    <p class="card-text">1 Day</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
</div>
</div>