<%- include('../partial/header'); -%>
<h1 class="booknow-title" ><%= bookingtitle %></h1>
<div class="row booking-Detail">
 <div class="col-4 booking-posterImg" style="background-image: url( <%= poster %> );">
</div>
<div class="col-8">
</div>    
</div>


<%- include('../partial/footer'); -%>