
<section class="Photographic-types">
    <div class="row" >
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
  <img src="/image/photography/wedding/full-wedding.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Full wedding</h5>
    <p class="card-text">Required Day</p>
    <a href="/bookform/full-wedding" class="btn btn-primary">Book Now</a>
  </div>
</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card ">
  <img src="/image/photography/wedding/engagement.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Engagement</h5>
    <p class="card-text">1 day</p>
    <a href="/bookform/Engagement" class="btn btn-primary" >Book Now</a>
  </div>
</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
  <img src="/image/photography/wedding/reception.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reception</h5>
    <p class="card-text">1 day</p>
    <a href="/bookform/Reception" class="btn btn-primary" >Book Now</a>
  </div>
</div>
    </div>
    </div>
</section>
