<div class="row contect" Style="margin : 0;" id="contectus">
<div class="col-lg-6 col-md-6 col-sm-12 contect-detail">
    <h2>Contect us</h2>
    <p>------------</p>
    <p>Sordiha , Bishrampur , Palamu , Jharkhand<br>Pin Code - 822124<br>Contect no - 9973768499<br>Email - nikhilbcps@gmail.com </p>
    
    <form action="/send" method="post">
        <input type="text" class="form-control contect-form" name="name" placeholder="Name" required>
        <input type="email" class="form-control contect-form" id="inputEmail4" name ="email" placeholder="Email">
        <input type="text" class="form-control contect-form" id="inputnumber4" name="phoneNo" placeholder="Phone number" autocomplete="off" required>
        <input type="text" class="form-control contect-form" name="subject" placeholder="Subject" required>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="message" placeholder="Message" style="margin-left: 4px;"></textarea>
        <button type="submit" name="send" id="send" class="btn-lg btn btn-primary contect-form contect-button">Send</button>
    </form>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 contect-img">    
</div>   
</div>