<%- include('partial/header'); -%>
<div class="row signup">
    <div class="col-lg-6 signup-image">
        
    </div class="col-lg-6 signup-form">
    <div>
        <form method="post" class='form-signin'>
         <img src="image/icon.png" id="logo-login" width="100px" alt="">
            <input type="email" class="form-control signup-input" name="email" value="" placeholder="Email">
            <input type="password" class="form-control signup-input" name="password" value="" placeholder="Password">
            <a href="" class="new-account">Create new account</a>
            <a href="" class="forget-password">Forget password</a>  <br>
            <button method="submit" class="btn btn-primary login-button">Login</button> 
            <br>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a><br>
              
        </form>
    </div>
</div>


<%- include('partial/footer'); -%>