<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nitish Studio | Photographic World</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS links -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <!-- w3school link -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Icon link -->
    <link rel="icon" href="/image/16/icon-16.png" type="image/gif" sizes="16">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top shadow" id="navigation-bar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-list">
                <li class="nav-item item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" href="/portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" href="#pricing">PRICING</a> 
                </li>
                <li class="nav-item item">
                <a class="nav-link" href="#contectus" id="contect">CONTECT</a>
                  
                <li class="nav-item item">
                      <a class="nav-link" href="#about-page" id="about">ABOUT</a> </li>
                </li>
                 <li class="nav-item item">
                      <a class="nav-link " id="Login" href="login">Login</a> </li>
                </li>
            </ul>

        </div>
    </nav>