<%- include('../partial/header'); -%>
<h1 class="booknow-title">PORTFOLIO</h1>

 <!-- Product grid -->
  <div class="w3-row">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/17481/220-SM775982.jpg" style="width:100%">
      </div>
	  <br>
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/17600/220-SM779196.jpg" style="width:100%">
      </div>
	  <br>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://d3nn873nee648n.cloudfront.net/900x600/18475/220-SM829664.jpg" style="width:100%">
          <span class="w3-tag w3-display-topleft">New</span>
        </div>
        <br>
      </div>
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/16418/220-ER696049.jpg" style="width:100%">
      </div>
	  <br>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/17481/220-SM775957.jpg" style="width:100%">
      </div>
	  <br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://d3nn873nee648n.cloudfront.net/900x600/18590/220-SM842406.jpg" style="width:100%">
        </div>
		<br>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/18589/220-SM842200.jpg" style="width:100%">
      </div>
	  <br>
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/18555/220-SM838068.jpg" style="width:100%">
      </div>
	  <br>
    </div>
  </div>

<div class="w3-row">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/14851/20-ER565867.jpg" style="width:100%">
      </div>
	  <br>
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/17514/220-SM775767.jpg" style="width:100%">
      </div>
	  <br>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://d3nn873nee648n.cloudfront.net/900x600/17743/220-SM785651.jpg" style="width:100%">
          
        </div>
        <br>
      </div>
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/17232/220-SM756247.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/17232/220-SM756274.jpg" style="width:100%">
      </div>
	  <br>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://d3nn873nee648n.cloudfront.net/900x600/14381/220-SM533960.jpg" style="width:100%">
        </div>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/15803/220-SM652270.jpg" style="width:100%">
      </div>
	  <br>
      <div class="w3-container">
        <img src="https://d3nn873nee648n.cloudfront.net/900x600/8649/15-SM208050.jpg" style="width:100%">
      </div>
    </div>
  </div>
<%- include('../partial/footer'); -%>